@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Epilogue;
}
body {
  height: 100vh;
}
.main-container {
  /* width: max-content; */
  height: 100vh;
  position: relative;
}
.main-container .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}
.main-container .hero-container {
  width: 100%;
}
.main-container .hero-container img {
  width: 100%;
}
.main-container .sub-container {
  padding: 0px 10px;
}
.main-container .content-container {
  text-align: center;
  margin: 50px 0px;
}
.main-container .content-container h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.main-container .content-container p {
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 600;
  color: hsl(0, 0%, 41%);
}
.main-container .content-container .btn {
  background-color: black;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 20px 30px;
  margin-top: 30px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 18px;
}
.main-container .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .footer img {
  width: 70px;
}
.main-container .sidebar-container {
  height: 100vh;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 65%;
  padding: 0px 20px;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 41%);
  font-weight: 600;
}
.main-container .sidebar-container .close-menu {
  position: absolute;
  right: 20px;
  top: 20px;
}
.main-container .sidebar-container .menu-container {
  /* margin-left: 20px; */
  margin-top: 60px;
}
.main-container .sidebar-container .menu-container .options-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main-container .sidebar-container .menu-container .features-options ul {
  list-style: none;
  margin-left: 20px;
}
.main-container .sidebar-container .menu-container ul li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px 0px;
  cursor: pointer;
}

.main-container .sidebar-container .menu-container .company-options {
  margin-left: 20px;
}


.main-container .sidebar-container .menu-container p {
  margin: 10px 0px;
  cursor: pointer;
}
.main-container .sidebar-container .auth-container .reg-btn {
  border: 2px solid gray;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  border-radius: 10px;
  cursor: pointer;
}
.main-container .sidebar-container .auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container .sidebar-container .auth-container p {
  margin: 20px 0px;
  cursor: pointer;
}

.hidden {
  display: none;
}
.black {
  background-color: hsla(0, 0%, 0%, 0.6);
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
}

